/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*END RESET.CSS*/

.wrapper {
	max-width: 1920px;
	margin: 0 auto;
	width: 100%;
}
header{
	height: 140px;
	background-color: #ebecee;
}


header .logo {
	margin-left: 3%;
}

header .logo img{
	margin-top: 70px;
}
header .menu ul{
	display: flex;
	justify-content: space-between;
	width: 340px;
}
header .menu ul li a{
	text-decoration: none;
	font-size: 16px;
	font-family: 'Ubuntu', sans-serif;
	font-weight: medium;
	color: #333333;
}
header .btn a{
	text-decoration: none;
	font-family:'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:  #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}
header .logo, header .menu, header .btn{
	display: inline-block;
}
header .menu{
	margin-left: 62%;
	position: relative;
	top: -20px;
}
header .btn {
	margin-left: 3%;
	position: relative;
	top: -20px;
}
.container2 {
	background-image: url('./img/background_top.png');
	height: calc(100vh - 140px);
	background-repeat: no-repeat;
	background-position-x: right;
	background-color:  #ebecee;
	background-size: cover;
	max-height: 950px;
}
.container3 h2{
	margin-top: 95px;
	text-align: center;
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #141311;
	margin-bottom: 25px;
}

.center {
	max-width: 1210px;
	width: 100%;
	margin: 0 auto;
}

.container3 p{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: center;
	color: #333333;
	line-height: 24px;
	margin-bottom: 38px;
	margin-left: 1%;
	margin-right: 1%;
}
.container3 .cards{
	display: flex;
	justify-content: space-between;
}
.container3 .cards img{
	margin-bottom: 37px;
}

.container2 h1{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 60px;
	color: #222222;
	margin-left: 16%;
	padding-top: 325px;
	padding-bottom: 84px;
}
.container2 .bt a{
	text-decoration: none;
	font-family:'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:  #333333;
	padding: 25px 93px;
	background-color: #ffffff;
	border-radius: 35px;
	margin-left: 25.425%;
}

.container3 .cards .item .sp{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	text-align: left;
	margin-left: 33px;
	color: #333333;
}
.container3 .cards .item p{
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-align: left;
	line-height: 17px;
	width: 301px;
	margin-left: 33px;
	margin-top: 13px;
	color: #333333;
	padding-bottom: 137px;
	margin-bottom: 0;
}
.container3 .item {
	position: relative;
	overflow: hidden;
	margin: 13px;
	display: inline-block;
}
.container3 .item:hover .bottom-to-top{
	opacity: 1;
}
.container3 .item:hover .bottom-to-top {
	top: 0;
	left: 0;
}
.container3 .item-caption {
	cursor: default;
	position: absolute;
	width: 100%;
	height: 35%;
	background: rgba(19, 26, 33, 1);;
	padding: 10px;
	text-align: center;
	opacity: 0;
	padding-top: 73px;
}

.container5 .left_content img{
	max-width: 100%;
}
.container5 {
	margin-top: 180px;
	margin-bottom: 215px;
}
.container5 .right_content{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	margin-left: 65px;
}
.container5 .right_content h3{
	font-size: 48px;
	color: #000000;
	font-weight: 300;
	margin-bottom: 45px;
}
.container5 .right_content .txt_right{
	font-size: 24px;
	color: #333333;
	margin-bottom: 4vh;
}
.container5 .right_content svg{
	font-size: 56px;
	color: #c99f2c;
	position: relative;
	bottom: -30px;
}
.container5 .right_content span{
	font-weight: 400;
	font-size: 22px;
	color: #000000;
	padding-left: 4vh;
}
.container5 .right_content .tx{
	font-size: 14px;
	color: #4e4e4e;
	margin-bottom: 5vh;
	margin-left: 9vh;
	line-height: 19px;
	margin-top: 24px;
}

.container5 a{
	font-weight: 700;
	font-size: 14px;
	color: #4b4a4a;
	text-decoration: none;
	padding: 25px 90px;
	background-color: #e5e1e1;
	border-radius: 30px;
}
.container5 .row{
	margin-left: -30px;
}

.container6 {
	background-image:
	linear-gradient(to right, rgba(14, 14, 14, 0.05), rgba(14, 14, 14, 0.05)), 
	url('./img/img.png');
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
.container6 .center h2{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 48px;
	color: #ffffff;
	padding-top: 246px;
}
.container6 .images{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 145px;
	padding-bottom: 300px;
}
.container6 .image{
	width: 393px;
}
.container6 .block {
	margin-bottom: 33px;
}
.container6 .images .image1 span{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
}
.container6 .images .image1 p{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #999999;
  
}
.container6 .bt a{
	text-decoration: none;
	font-family:'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:  #333333;
	padding: 25px 50px;
	background-color: #ffffff;
	border-radius: 35px;
}
.container6 .bt a:hover{
	background-color: #FF8C00;
}
.container6 .image1 .p1{
   margin-top: 40px;
}
.container6 .image1 .p2{
	margin-top: 13px;
 }
 .container6 .image1 .p3{
	margin-top: 10px;
	margin-bottom: 93px;
 }
 .container6 .images .image1 .butt a{
	text-decoration: none;
	font-family:'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color:  #333333;
	padding: 25px 85px;
	background-color: #ffffff;
	border-radius: 35px;
}
.container6 .images .image1 .butt a:hover{
	background-color: #FF8C00;
}
.container6 .image1{
	width: 393px;
}
.container6 .image2{
	width: 393px;
}
.container6 .image3{
	width: 393px;
}
.container6 .images .image2 span{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
}
.container6 .images .image2 p{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #999999;
}
.container6 .image2 .p1{
	margin-top: 40px;
 }
 .container6 .image2 .p2{
	 margin-top: 13px;
  }
  .container6 .image2 .p3{
	 margin-top: 10px;
	 margin-bottom: 93px;
  }  
 .container6 .image2 {
	 border-left: 1px solid #252525;
	 border-right: 1px solid #252525;
 } 
 .container6 .images .image3 span{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 22px;
	color: #ffffff;
}
.container6 .images .image3 p{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #999999;
}
.container6 .image3 .p1{
	margin-top: 40px;
 }
 .container6 .image3 .p2{
	 margin-top: 13px;
  }
  .container6 .image3 .p3{
	 margin-top: 10px;
	 margin-bottom: 93px;
  }  
 .container6 .image2{
	 padding-bottom: 40px;
 }


.container4 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr; /* repeat(3, 1fr);*/
} 
.container4 .item6{
	background-image: url('./img/item7.png');
	background-repeat: no-repeat;
	grid-column: 3/4;
	grid-row: 2/4;
	background-size: cover;
}
.container4 .item7{
	background-image: url('./img/item6.png');
	background-repeat: no-repeat;
	grid-column: 1/3;
	grid-row: 3/4;
}
.container4 img{
	max-width: 100%;
}

.container4 .item {
	margin: auto;
}

.container4 .item span, .container4 .item6 span, .container4 .item7 span{
	font-family:'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #141311;
	display: block;
	width: 60%;
	margin-left: 20%;
}


.container4 .item p, .container4 .item6 p, .container4 .item7 p{
	font-family:'Nunito', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #141311;
	margin-top: 27px;
	width: 60%;
	margin-left: 20%;
}

.container4 .item i, .container4 .item6 i, .container4 .item7 i{
	height: 2px;
	width: 35px;
	display: block;
	background-color: #000000;
	margin-left: 20%;
	margin-top: 12px;
}
.container4 .item6 span,.container4 .item6 p{
	color: #ffffff;
}
.container4 .item6 i{
	background-color: #ffffff;
	
}

.container4 .item6 span{
	margin-top: 80%;
}
.container4 .item7 p{
	width: 30%;
	margin-left: 10%;
}
.container4 .item7 i,.container4 .item7 span{
	margin-left: 10%;
}
.container4 .item7 span{
	margin-top: 10%;
}
.container4 .item:first-child, .container4 .item:nth-child(3){
	background-color: #f8f8f8;
}

.container4 {
	background-color: #f8f8f8;
}

.container7{
	background-color: #e8e9ea;
}

.container7 h2{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 48px;
	padding-top: 142px;
	padding-bottom: 70px;
}
.container7 .grid{
	display: grid;
	grid-template-columns: 1.75fr 0.8fr 0.8fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 25px;
}
.container7 .grid  .item1{
	background-image: url('./img/Layer1.png');
	display: block;
	background-repeat: no-repeat;
	grid-column: 1/2;
	grid-row: 1/3;
	background-size: cover;
}

.container7 .grid .item img{
	max-width: 100%;
	margin-top: -38px;	
}
.container7 .grid .item1 .text{
	width: 100%;
	text-align: center;
}
.container7 .grid .item1 .text .title{
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #ffffff;
	line-height: 40px;
	margin-top: 38%;
	margin-left: 16%;
	margin-right: 16%;
}
.container7 .grid .item1 .text p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 11px;
	color: #cccccc;
	margin-top: 5%;
   
}
.container7 .grid .item1 .text p span{
	color: #b28c27;
}
.container7 .grid .click{
	position: relative;
	display: inline-block;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 10px;
	color: #ffffff;
	padding: 10px 16px 8px 16px;
	background-color: #8d7431;
	border-radius: 14px;
	margin-top: 10px;
	margin-left: 10px;
}
.container7 .grid .item p{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #333333;
	margin-top: 29px;
	margin-bottom: 26px;
}
.container7 .bt{
	text-align: center;
	margin-top: 87px;
	padding-bottom: 138px;
}
.container7 .bt a{	
	text-decoration: none;
	font-family: 'Ubuntu', sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
	padding: 25px 90px;
    background-color: #ffffff;
	border-radius: 35px;
}
.container7 .bt a:hover{
	background-color: #40E0D0;
}

.container7 .center .grid .item1:hover {
 background: rgba(0, 0, 0, 1);
  }

 .container8 h3{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 30px;
	color: #000000;
 } 
 .container8{
	 margin-top: 200px;
	 margin-bottom: 200px;
 }
 .container8 .txt{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #000000;
	line-height: 24px;
	margin-top: 13px;
 }
 .container8 .spans{
	font-weight: 500;
 }


 .container8 .description2 svg,.container8 .description4 svg{
	 font-size: 39px;
	 color: #cca438;
	 margin-left: 30px;
	 margin-bottom: 130px;
 }

 .container8 .description3 span,  .container8 .description5 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	color: #000000;
	position: relative;
	top: -10px;
	
 }
 .container8 .description3 p,  .container8 .description5 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #000000;
	line-height: 24px;
	margin-top: 13px;
	margin-bottom: 58px;
 }

 .container9{
	background-image:
	linear-gradient(to right, rgba(14, 14, 14, 0.05), rgba(14, 14, 14, 0.05)), 
	url('./img/img.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.container9 .description1 h2{
	font-family: 'Ubuntu', sans-serif;
	font-size: 48px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 233px;
	margin-bottom: 149px;
}
.container9 span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	display: inline-block;
	margin-top: 71px;
}
.container9 .description10 .txt{
	font-family: 'Ubuntu', sans-serif;
	font-size: 24px;
	font-weight: 300;
	color: #999999;
	text-align: center;
	padding-bottom: 340px;
}
.container10 {
	text-align: center;
}
.container10 .center h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #333333;
	margin-top: 147px;
	margin-bottom: 100px;
}
.container10 .center .cards{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0 10%;
}
.container10 .center .txt{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #333333;
	margin: 147px 21% 51px 21%;
}
.container10 .center .cit {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #333333;
	margin-left: -32%;
}
.container10 .center .cit1 {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #c2c2c2;
	margin-left: -37%;
	margin-top: 13px;
	margin-bottom: 65px;
}
.container10 svg{
	font-size: 15px;
	color: #000000;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 154px;
}
.container10 .center .cards .card2 p{
	font-family: 'Trajan Pro';
	font-weight: bold;
	font-size: 16px;
	color: #222222;
	margin-top: 13px;
}
.container11 {
	background-image:
	linear-gradient(to right, rgba(33, 36, 37, 0.1),rgba(33, 36, 37, 0.1)), 
	url('./img/backgrond99.png');
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.container11 h3{
	font-family: 'Ubuntu', sans-serif;
	font-size: 30px;
	font-weight: 300;
	color: #ffffff;
	padding-top: 120px;
}
.container11 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 22px;
	font-weight: 300;
	color: #c1c0c0;
	padding-top: 32px;
	margin-bottom: 50px;
}
.container11 .bt a{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 700;
	color: #333333;
	padding: 25px 75px;
	text-decoration: none;
	border-radius: 35px;
	background-color: #ffffff;
}
.container11 .bt {
	padding-bottom: 179px;
}
.container11 .bt a:hover{
	background-color: #948b8b;
}
.container12 {
	background-color: #0d0d0d;
}

.container12 .block1{
	display: flex;
	justify-content: center;
}

.container12 .center .block {
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
}
.container12 .center .block .block2{
	display: flex;
	justify-content: space-around;
	width: 50%;
}
.container12 .center .block .block1{
	width: 50%;
}
.container12 h4{
	font-family: 'Ubuntu', sans-serif;
	font-size: 18px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 172px;
	margin-left: 15px;
}
.container12 .center .block .block1 .content1 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #666666;
	margin-top: 39px;
	margin-right: 10%;
	margin-left: 15px;
}
.container12 .center .block .cards {
	display: flex;
	justify-content: flex-start;
	margin-left: 15px;
}
.container12 .center .block .cards svg{
	font-size: 14px;
	color: #4c4c4c;
	margin-right: 55px;
	margin-top: 45px;
}
.container12 .center .block .block2{
	margin-left: 15%;
}
.container12 .center .block .block2 h4{
	margin-bottom: 38px;

}
.container12 .center .block .block2 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #868686;
	margin-left: 15px;
	margin-top: 18px;
}
.container12 .center .content5{
	max-width: 100%;
	border-top: 1px solid #1d1d1d;
}
.container12 .center .content5 p{
	font-family: 'Ubuntu', sans-serif;
	font-size: 11px;
	font-weight: 300;
	color: #616161;
	margin-left: 15px;
	margin-top: 60px;
	padding-bottom: 133px;
}

.container12 .center .content5 .or{
	color: #7c662c;
}


	












 @media(max-width: 1200px){
	.container8 .description3 span,  .container8 .description5 span{
		font-size: 20px;
	}
	.container8 .description2 svg{
		margin-left: 20px;
		margin-bottom: 150px;
	}
	.container8 .description4 svg{
		margin-left: 20px;
		margin-bottom: 150px;
	}
	.container12 .block1 {
		margin-left: 10%;
	}
	.container12 .block2 {
        margin-right: 10%;
 }
 .container12 .content5 {
	margin-left: 10%;
}
.container6 .center .images {
	justify-content: space-around;
	margin-top: 50px;
	padding-bottom: 100px;
}
.container6 .center .images img{
	margin-top: 50px;
}
.container6 .center h2{
	padding-top: 100px;
}
 @media(max-width: 992px){
	.container8 .description2 svg,.container8 .description4 svg{
		margin-left: 5px;
		margin-bottom: 230px;
	}
	.container8 .description2 p,.container8 .description4 p{
		font-size: 12px;
	}
	.container8 .description5 p{
		margin-bottom: 90px;
	 }
	.container5 .right_content{
		margin-left: 10px;
	}
	.container5 .right_content span{
		padding-left: 10px;
		font-size: 14px;
	}
	.container5 .right_content .tx{
		margin-left: 6vh;
	}
	.container5 a{
		padding: 25px 40px;
	}
	header .menu, header .btn{
		display: none;
	}
	header .burger{
		display: inline-block;
		width: 30px;
		background-color: red;
		height: 30px;
	}
	header .burger i{
		display: block;
		width: 80%;
		height: 4px;
		margin: 4px auto;
		background-color: #ffffff;
	}
	header .show{
		display: flex;
	}
	.container6 .center .images {
		justify-content: space-around;
	}
	.container4 .item7 p{
		width: 50%;
	}
 }
 @media(max-width: 786px){
	 .container8 .description1{
		 margin-bottom: 30px;
		}
	.container8 .description2 svg,.container8 .description4 svg{
		margin-left: 0;
		margin-bottom: 175px;
	}
	.container8 .description1 h3, .container8 .description1 .txt{
		text-align: center;
	   }
	.container8 .description5 p{ 
		margin-bottom: 68px;
	}
	.container9 .description3 img{
		margin-bottom: 50px;
	}
	.container10 .center .cards {
		justify-content: center;
	}
	.container10 .center .cards img{
		padding-left: 10%;
	}
	.container10 .center .txt {
		margin-top: 65px;
	}
	.container12 {
		text-align: center;
	}
	.container12 .center .block {
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
	}
	.container12 .block1, .container12 p, .container12 h4 {
		margin-left: 0;
		margin-right: 0;
	}
	.container12 .center .block .block1 .content1 p{
		margin-right: 0;
		margin-left: 0;
	}
	.container12 .center .block .block2 {
		margin-left: 10%;
		margin-right: 10%;
	}
	.container12 .center .block .block2 p{
		margin-left: 0%;

	}
	.container12 .center .content5{
		margin-left: 0;
	}
	.container12 .center .block .cards svg{
		margin-right: 0;
	}
	.container12 .center .block .cards {
		margin-left: 15%;
		margin-right: 15%;
		width: 70%;
		display: flex;
		justify-content: space-around;
	}
	
	.container12 h4{
		margin-top: 50px;
	}
	.container12 .center .content5 p{
		padding-bottom: 25px;
		margin-top: 20px;
	}
	.container12 .center .block {
		margin-bottom: 15px;
	}
	.container9 .description10 .txt{
		padding-bottom: 150px;
	}
	.container9 .description1 h2{
		margin-top: 100px;
	}
	.container5 .right_content h3{
		text-align: center;
	}
	.container5 .right_content .txt_right {
		text-align: center;
		margin-bottom: 0;

	}
	.container5 {
		margin-bottom: 50px;
		margin-top: 50px;
	}
	.container5 .right_content svg{
		margin-left: 2vh;
	}
	.container5 a{
		display: block;
        text-align: center;
        margin-left: 20%;
        margin-right: 20%;
	}
	.container5 .right_content .tx{
		margin-left: 7vh;
		margin-right: 0vh;
		margin-bottom: 2vh;
	}
	.container5 .right_content span{
		margin-left: 0vh;
	
	}
	.container2 h1{
		margin-left: 0;
		text-align: center;
		padding-top: 200px;
	}
	.container2 .bt a{
		text-align: center;
		display: block;
		margin-left: 20%;
		margin-right: 20%;
	}
    .container3 .cards {
		flex-wrap: wrap;
		justify-content: center;
	}
	.container3 .cards .item .sp {
		display: block;
	}
	.container3 .cards .item p{
		padding-bottom: 40px;
	} 
    .container4 .item span,.container4 .item6 span,.container7 .item span{
		font-size: 20px;
	}
	.container7 .grid{
		display: grid;
		grid-template-columns: 2.5fr 1.75fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
		grid-column-gap: 25px;
	}
	.container7 .grid .item1{
		grid-row: 1/5;
	}
	.container7 .grid .item1 .text .title{
		margin-top: 100%;
	}
	.container4 .item7 p{
		width: 70%;
	}
	.container4 {
		display: grid;
		grid-template-columns: 3fr 3fr;
		grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr;
	}
	.container4 .item6{
	grid-column: 1/3;
	grid-row: 4/5;
	}
	.container4 .item7{
		grid-column: 2/3;
		grid-row: 3/4;

	}
	.container4 .item7 span{
		margin-top: 21%;
	}
	.container4 .item7 p{
		margin-bottom: 20%;
	}
	.container4 .item6 span{
		margin-top: 20%;
	}
	.container4 .item6 P{
		margin-bottom: 10%;
	}
	
	

}
 @media(max-width: 576px){
	.container7 .grid{
		display: grid;
		grid-template-columns: 0.3fr 0.8fr 0.3fr;
		grid-template-rows: 1fr 0.5fr 0.5fr 0.5fr 0.5fr;
	}
	.container7 .grid .item1 .text .title{
		margin-top: 7vh;
		font-size: 20px;
	}
	.container7 .grid .item1 .text p{
		padding-bottom: 25px;
	}
	.container7 .grid .item p{
		font-size: 14px;
	}
	.container7 .grid .item1{
		grid-row: 1/2;
		grid-column: 1/4;
		margin-bottom: 20px;
	}
	.container7 .grid .item {
		grid-column: 2/3;
	}
	.container7 h2 {
		padding-top: 70px;
	}
	.container4 {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	}
	.container4 .item6{
	grid-column: 1/2;
	grid-row: 7/8;
	}
	.container4 .item7{
		grid-column: 1/2;
		grid-row: 6/7;
	}
	.container4 .item7 span,.container4 .item7 p,.container4 .item7 i{
		margin-left: 20%;
		
	}
	.container4 .item7 p{
        font-size: 11px;
	}
	.container4 .item6 span {
		margin-top: 21%;
	}
	.container4 .item6 p,.container4 .item7 p{
        margin-bottom: 27px;
	}
	.container4 .item7 p{
		width: 50%;
	}
	.container8 {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	


	.container2 .bt a{
		padding: 25px 40px;
	}
	.container8 .description2 svg{
		margin-bottom: 93px;
	}
	.container8 .description4 svg{
		margin-bottom: 80px;
	}
	.container8 .description3 p,.container8 .description5 p{ 
		margin-bottom: 40px;
	}
	.container5 .right_content{
		margin-left: 15px;
	}
	
	.container9 {
		height: 226vh;
		max-height: 1300px;
	}
	
	.container9 .description10 .txt{
		line-height: 2;
	}
	.container9 span{
		font-size: 24px;
	}

	.container9 .description1 h2{
		margin-top: 150px;
		margin-bottom: 100px;
	}
	.container9 img{
		margin-bottom: 50px;
	}
	.container10 .center .cards {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.container10 h4{
		margin-top: 65px;
		margin-bottom: 65px;
	}
 }
    .container4 .item p{
		font-size: 11px;
	}
}
@media(max-height: 700px){
	.container2 h1{
		padding-top: 150px;
		font-size: 44px;
	}
}
@media(max-height: 700px){
	.container2 h1{
		padding-top: 150px;
		font-size: 44px;
	}
}